<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Comments</title>
<meta name="keywords" content="" />
<meta name="Bryce Sunrise" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
  <div id="logo">
    <h1><a href="#"><span>所有日志</span> </a></h1>
    <p></p>
  </div>
  <div id="menu-bg">
  <div id="menu">
    <ul id="main">
    </ul>
  </div>
  </div>
</div>
<!-- end header -->
<div id="wrapper">
  <!-- start page -->
  <div id="page">
    <!-- start content -->
    <div id="content">
      <div class="post">
		<div class="entry">
          <p><table border="1" align = "center">
				<tr align = "center">
				<th>用户名</th>
				<th>景 点</th>
				<th>详 情</th>
				</tr>
				{%for i in Place%}
				<tr align = "center">
				<td>{{i.EmailAddress}}</td>
				<td>{{i.Place}}</td>
				<td><a href="/{{i.EmailAddress}}/{{i.Place}}/commentview">查看详细</a></td>
				</tr>
				{%endfor%}
				</table>
				</p>
        </div>
      </div>
</body>
</html>
