<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Information</title>
<meta name="keywords" content="" />
<meta name="Bryce Sunrise" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
  <div id="logo">
    <h1><a href="#"><span>用户信息</span> </a></h1>
    <p></p>
  </div>
  <div id="menu-bg">
  <div id="menu">
    <ul id="main">
    </ul>
  </div>
  </div>
</div>
<!-- end header -->
<div id="wrapper">
  <!-- start page -->
  <div id="page">
    <!-- start content -->
    <div id="content">
      <div class="post">
		<div class="entry">
          <p>姓 名：{{User.Name}}</p>
			<p>性 别：{{User.Gender}}</p>
			<p>年 龄：{{User.Age}}</p>
			<p>电 邮：{{User.Email}}</p>
			<p>性 格：
			{%for element in Character%}
			{{element}}
			{%endfor%}
			</p>
			<p>性格描述：
			{{User.Discription}}
			</p>
        </div>
      </div>
</body>
</html>
