<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Security</title>
<meta name="keywords" content="" />
<meta name="Bryce Sunrise" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->


<div id="header">
  <div id="logo">
    <h1><a href="#"><span>一路上有你</span> </a></h1>
    <p></p>
  </div>
  <div id="menu-bg">
  <div id="menu">
    <ul id="main">
      <li><a href="/{{Emailaddress}}/main">热门景点</a></li>
      <li><a href="/{{Emailaddress}}/recommend">个性推荐</a></li>
      <li><a href="/{{Emailaddress}}/foot">我的足迹</a></li>
	  <li><a href="/{{Emailaddress}}/willgo">意向发布</a></li>
      <li><a href="/{{Emailaddress}}/fillinformation">完善个人信息</a></li>
	  <li class="current_page_item"><a href="">安全中心</a></li>
	  <li><a href="/{{Emailaddress}}/myteam">我的队伍</a></li>
    </ul>

  </div>
  </div>
</div>
<!-- end header -->
<div id="wrapper">
  <!-- start page -->
  <div id="page">
    <!-- start content -->
    <div id="content">
		{%if Submit%}
		<font color="#FFFFFF" size="4"  face="微软雅黑">修改成功！</font>
		{% endif %}
      <div style="padding-bottom: 10px;"></div>
      <div class="post">
		
        <h1 class="title"><a href="#">请修改密码：</a></h1>
        
        <div class="entry">
          <p> {% if Error %}
	{% for error in Error %}
        <p style="color:red; font-size:20px;" >{{ error }}</p>
	{% endfor %}
    {% endif %}
    <h2><form action="" method="post" >
	{% csrf_token %}
	<p>请输入原密码：<input type="password" name="old_p"></p>
	<p>请输入新密码：<input type="password" name="new_p1"></p>
	<p>请确认新密码：<input type="password" name="new_p2"></p>
     <input type="submit" value="确定修改">
    </form></h2></p>
        </div>
      </div>
      
    </div>
    <!-- end content -->
    <!-- start sidebars -->
    <div id="sidebar1" class="sidebar">
      
    </div>
	<div id="sidebar2" class="sidebar">
      <ul>
		<li>
          <font color="#FFFFFF" size="3"  face="微软雅黑">您以{{Emailaddress}}登录</font>
        </li>
        
      </ul>
    </div>
    <!-- end sidebars -->
    <div style="clear: both;">&nbsp;</div>
  </div>
  <!-- end page -->
</div>
<div id="footer">
  <div id="footer-content">
    <p>&copy;2015 All Rights Reserved. &nbsp;&nbsp; Design by <a href="/aboutme" target="_blank">Three-Coders</a>.</p>
  </div>
</div>

</body>
</html>
