<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Willgo</title>
<meta name="keywords" content="" />
<meta name="Bryce Sunrise" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
  <div id="logo">
    <h1><a href="#"><span>TA的意向</span> </a></h1>
    <p></p>
  </div>
  <div id="menu-bg">
  <div id="menu">
    <ul id="main">
    </ul>
  </div>
  </div>
</div>
<!-- end header -->
<div id="wrapper">
  <!-- start page -->
  <div id="page">
    <!-- start content -->
    <div id="content">
      <div class="post">
		<div class="entry">
          {%if Error%}
		{%for i in Error%}
		<p>{{i}}</p>
		{%endfor%}
		<p><a href="/{{Joiner}}/fillinformation" class="button cancel-link">带我去完善信息</a></p>
		{%else%}
		<p>{{willgo.EmailAddress}} 发布的意向</p>
		<p>去 {{willgo.Province}} {{willgo.City}} 玩儿</p>
		<p>{{willgo.Date}} 出发</p>
		<p>玩 {{willgo.Time}} 天</p>
		<p>每人花费在 {{willgo.Low}} 至 {{willgo.High}} 元之间</p>
		<p>目前队伍里有 
		{% for i in team %}
		<a href="/{{i}}/information">{{i}}</a>
		{% endfor %}
		</p>
		<p>
		</br>
		</br>
		<form action="" method="post">
		{% csrf_token %}
		{%if willgo.Status == "已过期" or willgo.Status == "成员已满"%}
		{%if willgo.Status == "已过期"%}
		<p>已过期</p>
		{%else%}
		<p>成员已满</p>
		{%endif%}

		{%else%}
		<p>
		{%if joined%}
		<strong>我已经在队伍中了！ </strong>
		{%else%}
		 <input type="submit" value="把我加入">
		{%endif%}

		{%endif%}
		</form>
		</br>
		</p>
		<p><a href="#" onclick="window.history.back(); return false;" class="button cancel-link">带我返回</a></p>
		{%endif%}
        </div>
      </div>
</body>
</html>
